body{
    background-color: rgb(208, 216, 223);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
}
header{
    text-align: center;
    background-color: rgb(204, 144, 65);
    color: rgb(14, 94, 4);
    font-size: xx-large;
}
p{
    line-height: 1.5em;
}
ul{
    list-style: none;
}
ol > li{
    font-weight: bold;
}